/* Custom styles */

.subtitle {
    font-size: 0.95em;
    color: #777;
    font-style: italic;
}

.capitalize {
    text-transform: capitalize;
}

.profile-pic {
    max-width: 100%;
}

@media screen and (min-width:765px) {
    .hide-med {
        display: none;
    }
}

@media screen and (max-width:764px) {
    .hide-sm {
        display:none;
    }
}
